html, body {
    padding: 0;
    margin: 0;
    background-color: #eee;
    width: 100%;
     height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

h1 {text-align: center}
h2 {text-align: center}
h3 {text-align: center}
.top {width:100%; height:50%; float:left}
.topThird {width:100%; height:33%; float:left}
.bottom {width:100%; height:50%; float:left}
.left {width:33%; height:100%; float:left; color:green}
.leftTwoThirds {width:66%; height:100%; float:left}
.mid {width:33%; height:100%; float:left; color:blue}
.right {width:33%; height:100%; float:left; color:red}
.centerInput {display: block; margin: 0 auto}
.progBar {width:80%; height:10px; display: block; margin: 0 auto}
table,
td {
    border: 1px solid #333;
}

thead {
    background-color: #333;
    color: #fff;
}
