<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background:none transparent !important;background-color: transparent !important;">
<head>
    <meta charset="utf-8">
    <title>Settings</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
</head>

<body style="background:none transparent !important;background-color: transparent !important;">
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="height: 75%;">
            <div class="card-header">
                <h3>Settings</h3>
            </div>
            <div class="card-body">
                <form th:action="@{/changeAccountSettings}" method="post" autocomplete="off">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-dot-circle"></i></span>
                        </div>

                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" th:value="${username}">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-dot-circle"></i></span>
                        </div>

                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" th:value="${email}">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-dot-circle"></i></span>
                        </div>

                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-dot-circle"></i></span>
                        </div>

                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Password Confirm">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn float-right login_btn"/>
                    </div>

                    <div class="form-group">
                        <a class="btn float-left login_btn" th:href="@{/settings/0}">Back</a>
                    </div>
                </form>
                <div class="form-group">
                    <p style="color:green">
                            <span th:text="${message?.toString()}">

                            </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>