<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Create an account</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <span id="numberOfErrors" th:value="${errorCount}"></span>
</head>

<body style="background-image: url('/SpringProject/img/bg.jpg');">

<div class="container">

    <div class="d-flex justify-content-center h-100">
        <div class="card" id="cardToResize" style="width:45%">
            <div class="card-header">
                <h3>Create your account</h3>
            </div>
            <div class="card-body">
                <form th:action="@{/adduser}" method="post" autocomplete="off">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="text" placeholder="Email" id="email" name="email" autofocus="autofocus" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <p style="color:red; font-size: small" th:each="error: ${emailErrors}">
                            <span th:text="${error}">

                            </span>
                            <span th:if="${passRecover == 1}">
                                <a th:href="@{/passRecover}"> Forgotten password?</a>
                            </span>
                        </p>

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" placeholder="Username" id="username" name="username" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <p style="color:red; font-size: small" th:each="error: ${usernameErrors}">
                            <span th:text="${error}">

                            </span>
                        </p>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" placeholder="Password" id="password" name="password" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <p style="color:red; font-size: small" th:each="error: ${passwordErrors}">
                            <span th:text="${error}">

                            </span>
                        </p>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" placeholder="Confirm Password" id="passwordConfirm" name="passwordConfirm" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <p style="color:red; font-size: small" th:each="error: ${passwordConfirmErrors}">
                            <span th:text="${error}">

                            </span>
                        </p>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-question"></i></span>
                        </div>
                        <select placeholder="Security Question" id="secQuestionString" name="secQuestionString" class="form-control">
                            <option th:each="i : ${secQuestions}" th:value="${i}"><span th:text="${i}"></span></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <p style="color:red; font-size: small" th:each="error: ${secQuestionErrors}">
                            <span th:text="${error}">

                            </span>
                        </p>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <input type="text" placeholder="Security Answer" id="secAnswer" name="secAnswer" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <p style="color:red; font-size: small" th:each="error: ${secAnswerErrors}">
                            <span th:text="${error}">

                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Sign Up" class="btn float-right login_btn"/>
                    </div>
                </form>
                <div class="form-group">
                    <a class="btn float-left login_btn" th:href="@{/login}">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/signup.js}"></script>
</body>
</html>