<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background:none transparent !important;background-color: transparent !important;">

<head>
    <title>Training</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>


</head>

<body style="background:none transparent !important;background-color: transparent !important;">
<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-header">
            <h3>Training Tracker</h3>
        </div>
        <div class="card-body">
            <h4>Kcal Burned</h4>
            <div class="input-group form-group">
                <progress th:value="${progressToCaloriesBurned}" th:max="${targetCaloriesBurned}" class="progBar" data-toggle="tooltip" data-placement="top" th:title="${progressToCaloriesBurned} + '/' + ${targetCaloriesBurned}"></progress>
            </div>
        </div>
    </div>
</div>

</body>
</html>