<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background:none transparent !important;background-color: transparent !important;">

<head>
    <title>Training</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="http://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>


</head>

<body style="background:none transparent !important;background-color: transparent !important;" onload="reloadPage()">
<div class="d-flex justify-content-center h-100">
    <div class="card" style="width:100%; height:95%">
        <div class="card-header">
            <h4>Add an Exercise</h4>
        </div>
        <div class="card-body">
            <form th:action="@{/exercise/add/__${date}__}" id="ingredientForm" method="get" autocomplete="off">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Exercise</th>
                        <th scope="col">Calories Burned</th>
                        <th scope="col">Muscle Group 1</th>
                        <th scope="col">Muscle Group 2</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" id="name" name="name" style="width:175px"/></td>
                        <td><input style="width:100px" type="number" id="caloriesBurnedPerRep" name="caloriesBurnedPerRep" min="0"/></td>
                        <td><input style="width:100px" type="text" id="muscleGroupOne" name="muscleGroupOne" min="0"/></td>
                        <td><input style="width:100px" type="text" id="muscleGroupTwo" name="muscleGroupTwo" min="0"/></td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <input th:hidden="hidden" id="username" name="username" th:value="${#authentication.getPrincipal().getUsername()}"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn float-right login_btn"/>
                </div>
                <div class="form-group">
                    <p style="color:red">
                            <span text="ERROR MESSAGE">

                            </span>
                    </p>
                </div>
                <div class="form-group">
                    <a class="btn float-left login_btn" style="width:200px" th:href="@{/changeExercise/__${date}__}">Update Exercise</a>
                </div>
                <div class="form-group">
                    <p style="color:green">
                            <span text="SUCCESS">

                            </span>
                    </p>
                </div>
            </form>
            <div class="form-group" style="padding-left: 40%">
                <a class="btn float-left login_btn" style="width:200px" th:href="@{/delete-exercise/__${date}__}">Delete Exercise</a>
            </div>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript" th:src="@{/js/ingredient-table.js}"></script>

</body>
</html>