<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background:none transparent !important;background-color: transparent !important;">
<head>

<meta charset="utf-8">
<title>Summary</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link rel="stylesheet" th:href="@{/css/login.css}"/>
  <link rel="stylesheet" th:href="@{/css/common.css}"/>


</head>
<body style="background:none transparent !important;background-color: transparent !important;">
<div class="container float-left" style="width:50%;height:50%">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Calorie Counter</h3>
      </div>
      <div class="card-body">
        <h4>Kcal Intake</h4>
          <div class="input-group form-group">
              <progress th:value="${progress.get(0)}" th:max="${targets.get(0)}" class="progBar" data-toggle="tooltip" data-placement="top" th:title="${progress.get(0)} + '/' + ${targets.get(0)}"></progress>
          </div>
        <h4>Carb Intake (g)</h4>
        <div class="input-group form-group">
          <progress th:value="${progress.get(2)}" th:max="${targets.get(2)}" class="progBar" data-toggle="tooltip" data-placement="top" th:title="${progress.get(2)} + '/' + ${targets.get(2)}"></progress>
        </div>
        <h4>Protein Intake (g)</h4>
        <div class="input-group form-group">
          <progress th:value="${progress.get(1)}" th:max="${targets.get(1)}" class="progBar" data-toggle="tooltip" data-placement="top" th:title="${progress.get(1)} + '/' + ${targets.get(1)}"></progress>
        </div>
        <h4>Fat Intake (g)</h4>
        <div class="input-group form-group">
          <progress th:value="${progress.get(3)}" th:max="${targets.get(3)}" class="progBar" data-toggle="tooltip" data-placement="top" th:title="${progress.get(3)} + '/' + ${targets.get(3)}"></progress>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container float-right" style="width:50%;height:50%">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Exercise Tracker</h3>
      </div>
      <div class="card-body">
        <h4>Date</h4>
        <form id="dateForm" class="dateForm" th:action="@{/home}" method="get" autocomplete="off">
          <div class="input-group form-group">
            <input type="date" id="datePicker" name="datePicker" th:value="${date}" onchange="handler(event)" class="date">
          </div>
        </form>
        <h4>Calories Burned</h4>
        <div class="input-group form-group">
          <progress th:value="${progressToCaloriesBurned}" th:max="${targetCaloriesBurned}" class="progBar" data-toggle="tooltip" data-placement="top" th:title="${progressToCaloriesBurned} + '/' + ${targetCaloriesBurned}"></progress>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container float-left" style="width:50%;height:30%">
  <div class="d-flex justify-content-center h-100">
    <div class="card" style="width:100%;height:150%">
      <div class="card-header">
        <div id="lineCanvasContainer">
          <canvas id="lineChart" style="height:auto; width:auto"></canvas>
          <script src="index.js"></script>
        </div>
      </div>
      <select id="lineChartRange" class="centerInput">
        <option value="5" selected>Last 5 entries</option>
        <option value="10">Last 10 entries</option>
        <option value="20">Last 20 entries</option>
      </select>
    </div>
  </div>
</div>
<div class="container float-right" style="width:50%;height:30%">
  <div class="d-flex justify-content-center h-100">
    <div class="card" style="width:100%;height:150%">
      <div class="card-header">
        <div id="pieCanvasContainer">
          <canvas id="pieChart" style="height:auto; width:auto"></canvas>
        </div>
      </div>
    </div>

  </div>
</div>
<div><span id="calorieData" hidden="hidden" th:text="${calorieEntries}"></span>
  <span id="calorieDates" hidden="hidden" th:text="${dates}"></span>
  <span id="muscleGroups" hidden="hidden" th:text="${muscleGroupEntries}"></span>
  <span id="muscleGroupFocus" hidden="hidden" th:text="${muscleGroupCounts}"></span>
</div>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/nutrition.js}"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>
