<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <title>Nutrition & Exercise Tracker</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <script>
        function go(loc) {
            document.getElementById('loadedPage').src = loc;
        }
    </script>
</head>
<body style="height:100%;background-image: url('/SpringProject/img/bg.jpg');">
<div class="rightContainer float-right" style="width:80%;height:95%; padding-right: 3%;padding-top:2.5%">
    <div class="embed-responsive embed-responsive-16by9" style="height:100%">
        <iframe class="embed-responsive-item" id="loadedPage" style="height:100%" th:src="@{/home}" allowtransparency="true"></iframe>
    </div>
</div>
<nav id="sidebar" style="height:100%; width:25%">
    <div class="p-4 pt-5" style="height:100%">
        <ul class="list-unstyled components mb-5">
            <li>
                <a href="#" th:onclick="go('/SpringProject/home')">Home</a>
            </li>
            <li>
                <a href="#" th:onclick="go('/SpringProject/training')">Training</a>
            </li>
            <li>
                <a href="#" th:onclick="go('/SpringProject/nutrition')">Nutrition</a>
            </li>
            <li>
                <a href="#" th:onclick="go('/SpringProject/settings/0')">Settings</a>
            </li>
            <li style="padding-top:250%">
                <a th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>


</body>
</html>