<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <title>Login</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>

<body style="background-image: url('/SpringProject/img/bg.jpg');">

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
            </div>
            <div class="card-body">
                <form th:action="@{/login}" method="post" autocomplete="off">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" placeholder="Username" class="form-control" id="username" name="username" autofocus="autofocus" />
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" placeholder="Password" class="form-control" id="password" name="password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Log in" class="btn float-right login_btn"/>
                    </div>
                    <div class="form-group">
                        <p style="color:red">
                            <span th:text="${error?.toString()}">

                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p style="color:green">
                            <span th:text="${message?.toString()}">

                            </span>
                        </p>
                    </div>
                </form>

            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a th:href="@{/signup}">Sign Down</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a th:href="@{/passRecover}">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>


