<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background:none transparent !important;background-color: transparent !important;">

<head>
    <title>Nutrition</title>
    <link href="http://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link href="http://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />

</head>

<body style="background:none transparent !important;background-color: transparent !important;" onload="$('#date').trigger('changeDate');">
<div class="container float-right" style="width:25%;height:30%">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="height:95%">
            <div class="card-header">
                <h4>Date:</h4>
            </div>
            <div class="card-body">
                <form id="dateForm" class="dateForm" th:action="@{/nutrition/dateUpdate}" method="get" autocomplete="off">
                    <div class="input-group form-group">
                        <input type="date" id="datePicker" name="datePicker" th:value="${date}" onchange="handler(event)" class="date">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container float-left" style="width:70%;height:50%">
    <div class="rightContainer float-right" style="width:100%;height:100%; padding-right: 3%;padding-top:2.5%">
        <div class="embed-responsive embed-responsive-16by9" style="height:100%">
            <iframe class="embed-responsive-item" id="meal-table" style="height:100%" th:src="@{/meal-table/__${date}__}" allowtransparency="true"></iframe>
        </div>
    </div>
</div>
<div class="container float-left" style="width:70%;height:50%">
    <div class="rightContainer float-right" style="width:100%;height:100%; padding-right: 3%;padding-top:2.5%">
        <div class="embed-responsive embed-responsive-16by9" style="height:100%">
            <iframe class="embed-responsive-item" id="ingredient-table" style="height:100%" th:src="@{/ingredient-table/__${date}__}" allowtransparency="true"></iframe>
        </div>
    </div>
</div>
<div class="container float-right" style="width:25%;height:50%">
    <div class="rightContainer float-right" style="width:100%;height:100%; padding-right: 3%;padding-top:2.5%">
        <div class="embed-responsive embed-responsive-16by9" style="height:100%">
            <iframe class="embed-responsive-item" id="calorie-counter" style="height:100%" th:src="@{/calorie-counter/__${date}__}" allowtransparency="true"></iframe>
        </div>
    </div>
</div>
    <script type="text/javascript" th:src="@{/js/nutrition.js}"></script>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</body>

</html>