<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Recover Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>

<body style="background-image: url('/SpringProject/img/bg.jpg');">

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Recover password</h3>
            </div>
            <div class="card-body">
                <form th:action="@{/recover}" method="post" autocomplete="off">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="text" placeholder="Email" id="email" name="email" autofocus="autofocus" class="form-control" th:value="${inputEmail}"/>
                    </div>
                    <div th:each="i : ${secQuestion}">
                    <div class="input-group form-group">
                        <p style="color:white" class="form-inline" th:text="${i}"></p>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-angle-double-right"></i></span>
                        </div>
                        <input type="text" placeholder="Security Answer" id="secAnswer" name="secAnswer" class="form-control"/>
                    </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Request" class="btn float-right login_btn"/>
                    </div>

                </form>
                <div class="form-group">
                    <a class="btn float-left login_btn" th:href="@{/login}">Back</a>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                    <p style="color:#87ff2a">
                            <span th:text="${newPass?.toString()}">

                            </span>
                    </p>
                    <p style="color:red">
                            <span th:text="${error?.toString()}">

                            </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/passRecover.js}"></script>
</body>
</html>
