<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background:none transparent !important;background-color: transparent !important;">

<head>
    <title>Training</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>


</head>

<body onload="reloadTrainingCounter()" style="background:none transparent !important;background-color: transparent !important;">
<div class="d-flex justify-content-center h-100">
    <div class="card" style="width:100%; height:95%">
        <div class="card-body" style="height: 100%">
            <form id="mealForm" th:action="@{/routine-table/update/__${date}__}" th:object="${form}" method="get">
                <fieldset>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Exercise</th>
                            <th scope="col">Calories Burned</th>
                            <th scope="col">Muscle Group 1</th>
                            <th scope="col">Muscle Group 2</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="i, itemStat : *{selected}">
                            <td><select style="width: 100%" th:field="*{selected[__${itemStat.index}__]}" onchange="form_submit()">
                                <option value="-1">Select An Option</option>
                                <span th:each="exercise : *{exercises}">
                                            <span th:if="${exercise.getIdAsInt()} == ${i.getIdAsInt()}">
                                                <option th:value="${i.getIdAsInt()}"><span th:text="${i.getName()}" selected> Ingredients </span></option>
                                            </span>
                                            <span th:unless="${exercise.getIdAsInt()} == ${i.getIdAsInt()}">
                                                <option th:value="${exercise.getIdAsInt()}"><span th:text="${exercise.getName()}"> Ingredients </span></option>
                                            </span>

                                        </span>
                            </select >
                            </td>
                            <td>
                                    <span th:unless="${i.name == null}">
                                        <p th:text="${i.getCaloriesBurnedPerRep()}" style="color:white; text-align: center"></p>
                                    </span>
                            </td>
                            <td>
                                    <span th:unless="${i.name == null}">
                                        <p th:text="${i.getMuscleGroupOne()}" style="color:white; text-align: center"></p>
                                    </span>
                            </td>
                            <td>
                                    <span th:unless="${i.name == null}">
                                        <p th:text="${i.getMuscleGroupTwo()}" style="color:white; text-align: center"></p>
                                    </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <input type="submit" name="action" value="Save" class="btn float-right login_btn"/>
                    </div>
                    <div class="form-group">
                        <p style="color:red">
                            <span text="ERROR MESSAGE">

                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p style="color:green">
                            <span text="SUCCESS">

                            </span>
                        </p>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/nutrition.js}"></script>
<script type="text/javascript" th:src="@{/js/meal-table.js}"></script>
</body>

</html>