<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background:none transparent !important;background-color: transparent !important;">
<head>
    <meta charset="utf-8">
    <title>Settings</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
</head>

<body style="background:none transparent !important;background-color: transparent !important;">
<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="height: 75%;">
            <div class="card-header">
                <h3>Settings</h3>
            </div>
            <div class="card-body">
                <form th:action="@{/changeSettings}" method="get" autocomplete="off">
                    <h4>Target calories burned:</h4>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-dot-circle"></i></span>
                        </div>

                        <input type="number" min="0" class="form-control" id="targetCalorieBurned" name="targetCalorieBurned" th:value="${targetCalorieBurned}">
                    </div>
                    <h4>Target calorie intake:</h4>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-dot-circle"></i></span>
                        </div>

                        <input type="number" min="0" class="form-control" id="targetCalorieIntake" name="targetCalorieIntake" th:value="${targetCalorieIntake}">
                    </div>
                    <h4>Target carb intake (g):</h4>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-dot-circle"></i></span>
                        </div>

                        <input type="number" min="0" class="form-control" id="targetCarbIntake" name="targetCarbIntake" th:value="${targetCarbIntake}">
                    </div>
                    <h4>Target protein intake (g):</h4>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-dot-circle"></i></span>
                        </div>

                        <input type="number" min="0" class="form-control" id="targetProteinIntake" name="targetProteinIntake" th:value="${targetProteinIntake}">
                    </div>
                    <h4>Target fat intake (g):</h4>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="far fa-dot-circle"></i></span>
                        </div>

                        <input type="number" min="0" class="form-control" id="targetFatIntake" name="targetFatIntake" th:value="${targetFatIntake}">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn float-right login_btn"/>
                    </div>

                    <div class="form-group">
                        <a class="btn float-left login_btn" th:href="@{/accDetails}">Account</a>
                    </div>
                </form>
                <div class="form-group">
                    <p style="color:green">
                            <span th:text="${message?.toString()}">

                            </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>