<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background:none transparent !important;background-color: transparent !important;">

<head>
    <title>Nutrition</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="http://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>


</head>

<body style="background:none transparent !important;background-color: transparent !important;">
<div class="d-flex justify-content-center h-100">
    <div class="card" style="width:100%; height:95%">
        <div class="card-header">
            <h4>Update an ingredient</h4>
        </div>
        <div class="card-body">
            <form th:action="@{/ingredient/update/__${date}__}" id="ingredientForm" onsubmit="overrideSubmit(event)" method="get" autocomplete="off">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Ingredient</th>
                        <th scope="col">Calories</th>
                        <th scope="col">Protein</th>
                        <th scope="col">Carbs</th>
                        <th scope="col">Fats</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><select id="name" name="name" style="width:175px">
                                        <span th:each="ingredient : ${ingredients}">
                                                <option th:value="${ingredient.getIdAsInt()}"><span th:text="${ingredient.getName()}"> Ingredients </span></option>
                                        </span>
                        </select ></td>
                        <td><input style="width:100px" type="number" id="calories" name="calories" min="0"/></td>
                        <td><input style="width:100px" type="number" id="protein" name="protein" min="0"/></td>
                        <td><input style="width:100px" type="number" id="carbs" name="carbs" min="0"/></td>
                        <td><input style="width:100px" type="number" id="fats" name="fats" min="0"/></td>
                    </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn float-right login_btn"/>
                </div>
                <div class="form-group">
                    <p style="color:red">
                            <span text="ERROR MESSAGE">

                            </span>
                    </p>
                </div>
                <div class="form-group">
                    <a class="btn float-left login_btn" style="width:200px" th:href="@{/ingredient-table/__${date}__}">Back</a>
                </div>
                <div class="form-group">
                    <p style="color:green">
                            <span text="SUCCESS">

                            </span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript" th:src="@{/js/ingredient-update.js}"></script>

</body>
</html>